<nav>
    <a href="https://webpages.charlotte.edu/jlucia/">CLT Home</a> ||
    <a href="https://github.com/Messiman28">Github</a> ||
    <a href="https://messiman28.github.io/">Github.io</a> ||
    <a href="https://www.freecodecamp.org/YoshLucci">FreeCodeCamp</a> ||
    <a href="https://www.codecademy.com/profiles/Messiman28">Codecademy</a> ||
    <a href="https://www.linkedin.com/in/joshualucia28/">LinkedIn</a>
</nav>
<br />
<a href="https://validator.w3.org/check?uri=referer">
    <img src="images/button-validation-html5.png" width="88" height="31"
        alt="Validate webpage HTML." />
</a>
<a href="https://jigsaw.w3.org/css-validator/check/referer">
    <img src="images/button-validation-css.png" width="88" height="31"
        alt="Validate webpage CSS." />
</a>
<br />
<p>
    Site designed by <a href="jadedlihzard.tech/">JadedLihzard</a>.
    &copy;2023
</p>